.calculation-box {
    height: 70px;
    width: 120px;
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
}

#calculate {
    min-height: 10px;
    background-color: #3887be;
    color: #fff;
    font-family: 'Open Sans';
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 15px;
}
