.draw-box {
  height: 50px;
  width: 90px;
  position: absolute;
  top: 35px;
  left: 5px;
  background: #2b303b;
  border: none;
  padding: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
}

#draw {
  min-height: 10px;
  background-color: #65737e;
  color: #fff;
  font-family: 'Open Sans';
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
  margin: 5px 0;
}

p {
  font-family: 'Open Sans';
  margin: 0;
  font-size: 15px;
  color: #fff;
}
