<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title> SISTAM CESFAM Mena</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- <script src="../../node_modules/jquery/dist/jquery.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>

<body ng-app='userControl' ng-controller='maincontrol'>

  <form ng-submit="checkUser()">

    <input type="{{inputType}}" placeholder="Put your password" ng-model="user" />

    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
    <!-- <input type="text " placeholder="User" ng-model="user"></input> -->
    <button type "submit">Log</button>
  </form>

  <style>
    body {
      margin: 0;
    }
  </style>

  <div id='map'></div>
  <div style="margin-left:50%"></div>

  <!-- ********************* JS SCRIPTS ******************************** -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
    const path = require('path');
  </script>

  <script src="../../js/ucontrol/control.js"></script>
    <!-- <script src="../../js//ucontrol/control.js"></script> -->

</body>

</html>
